{% extends "TFELibrairieBundle::layout.html.twig" %}

{% block title %}
    Paypal - {{ parent() }}
{% endblock %}

{% block galerie_body %}
    <div class="row">
        Votre commande a été annulée<br />
        <p>
            <a href="{{ path('tfe_librairie_accueil') }}">
                <button class="btn primary pull-right"><span class="glyphicon glyphicon-home"></span> Retour à l'accueil</button>
            </a>
        </p>
    </div>
{% endblock %}