<body>
    <h2>Bonjour {{ utilisateur.username }},</h2>
    <p>
        Votre commande a bien été confirmée. Vous recevrez celle-ci dans les plus brefs délais. Vous trouverez ci-joint
        un récapitulatif de votre commande avec le montant à payer.
    </p>

    <p>
        N'hésitez pas à laisser une note ou faire un commentaire sur les livres présents sur notre site.
        Nous vous souhaitons, bonne lecture. En espèrant vous revoir bientôt sur notre site.
    </p>

    <p>
        Ceci est un mail automatique. Merci de ne pas y répondre.
    </p>
</body>