{% extends "TFELibrairieBundle::layout.html.twig" %}

{% block title %}
    À propos de nous - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block galerie_body %}
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title"><h3>Qui sommes-nous?</h3></div>
                </div>
                <div class="panel-body">
                    <p>
                        <legend align="center">VOTRE LIBRAIRIE … un lieu où il fait bon flâner …</legend>
                        <p class="col-sm-offset-1 col-sm-10" style="text-align: justify;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat porta nibh non
                            convallis. Ut a blandit augue, sit amet ullamcorper felis. Ut rhoncus, sem nec sollicitudin
                            vulputate, mi quam porta augue, at efficitur dolor quam id massa. In arcu sem, dictum vel
                            commodo nec, pharetra ac nisl. Donec fringilla sapien ut lacus convallis, non lobortis augue
                            iaculis. Aenean id urna erat. Fusce porttitor mi eu ex tincidunt pretium.<br />
                            Aliquam quam velit, tempor eu vestibulum a, volutpat quis magna. Praesent ut ex vestibulum, mattis erat
                            et, rutrum mauris. Vestibulum ante tellus, aliquet a lorem nec, efficitur facilisis metus. Nunc lacinia,
                            ante et tincidunt pharetra, mi massa elementum tellus, sed euismod dui felis eu velit. Ut eleifend quam
                            quis ex aliquam porta. Cras sagittis enim et lectus dapibus euismod.<br />
                            Proin eu scelerisque dui. Mauris scelerisque id lectus ut tristique. Etiam venenatis eros
                            sed risus vehicula facilisis. Etiam vulputate orci vitae purus convallis pulvinar. Sed dui
                            enim, gravida sagittis elit at, cursus sagittis quam. Vestibulum tincidunt feugiat risus, id
                            pulvinar sapien consectetur sit amet.
                        </p>
                    </p>
                    <br />
                    <p>
                        <legend align="center">VOTRE LIBRAIRIE … une référence culturelle …</legend>
                        <p class="col-sm-offset-1 col-sm-10" style="text-align: justify;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat porta nibh non convallis.
                        Ut a blandit augue, sit amet ullamcorper felis. Ut rhoncus, sem nec sollicitudin vulputate, mi quam
                        porta augue, at efficitur dolor quam id massa. In arcu sem, dictum vel commodo nec, pharetra ac nisl.
                        Donec fringilla sapien ut lacus convallis, non lobortis augue iaculis. Aenean id urna erat. Fusce
                        porttitor mi eu ex tincidunt pretium.<br />
                        Nullam et varius sem, nec eleifend lacus. In cursus justo pretium lectus lobortis, in luctus nisl
                        fringilla. Donec elementum sollicitudin massa sed tincidunt. Vivamus malesuada, magna id rutrum
                        molestie, lorem turpis tincidunt enim, eget sodales ante nibh eget arcu. Morbi non dapibus sem. <br />
                        Duis hendrerit justo vel cursus malesuada. Morbi viverra felis turpis, sit amet vehicula elit varius id. Sed
                        sed magna efficitur nunc faucibus elementum id vel urna. Pellentesque habitant morbi tristique senectus
                        et netus et malesuada fames ac turpis egestas. Mauris sit amet libero non turpis interdum ornare. Ut a
                        massa eu urna volutpat rhoncus.
                        </p>
                    </p>
                    <br />
                    <p>
                        <legend align="center">VOTRE LIBRAIRIE … propose la vente en ligne…</legend>
                        <p class="col-sm-offset-1 col-sm-10" style="text-align: justify;">
                        Aenean eget risus mollis, ornare mauris quis, tristique odio. Sed nec tempus neque, nec ullamcorper nisl.
                        Nam varius consequat bibendum. Donec convallis lacinia magna at rhoncus. Mauris at efficitur mauris,
                        vitae ullamcorper mauris. Mauris volutpat rhoncus cursus. Donec leo arcu, vulputate a tempor et,
                        condimentum sed libero. Nam id volutpat neque, vitae dapibus felis. Ut eget malesuada eros. Nullam
                        suscipit vulputate mauris, quis hendrerit tellus iaculis non. Aliquam luctus efficitur libero a mattis.
                        Nam nec lacus eget augue vulputate porttitor vitae non justo. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Vestibulum convallis, sapien et bibendum placerat, elit mauris venenatis nisl, sit
                        amet cursus justo ante interdum tellus.<br />
                        Integer ac aliquet ligula. Integer tempor vulputate facilisis. Vivamus vel faucibus sapien. Vivamus ut
                        nulla in tortor posuere fermentum. Nunc non turpis id nisi malesuada placerat at sit amet sapien. Nam a
                        iaculis nunc. Donec justo elit, sagittis ut efficitur ac, maximus vel tortor. Fusce nec massa vitae
                        odio malesuada venenatis eu vitae est. Aenean tristique maximus rutrum. Proin sollicitudin neque justo,
                        vel tempor ex mattis vitae. Duis sodales mattis sem, vel posuere erat maximus et.<br />
                        Integer ac aliquet ligula. Integer tempor vulputate facilisis. Vivamus vel faucibus sapien. Vivamus ut
                        nulla in tortor posuere fermentum. Nunc non turpis id nisi malesuada placerat at sit amet sapien. Nam a
                        iaculis nunc. Donec justo elit, sagittis ut efficitur ac, maximus vel tortor. Fusce nec massa vitae
                        odio malesuada venenatis eu vitae est. Aenean tristique maximus rutrum. Proin sollicitudin neque justo,
                        vel tempor ex mattis vitae. Duis sodales mattis sem, vel posuere erat maximus et.
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}