{% extends "TFELibrairieBundle::layout.html.twig" %}

{% block title %}
    Confirmation - {{ parent() }}
{% endblock %}

{% block galerie_body %}
    <div class="well">
        <h3>Inscription confirmée</h3>
        <p>
            Votre inscription a été confirmée.
        </p>
        <p>
            Bienvenu sur notre site,<br />
            La team du Mille-Feuille.
        </p>
    </div>
{% endblock %}