{% extends "TFELibrairieBundle::layout.html.twig" %}

{% block title %}
    Contact - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block galerie_body %}
    <div class="row">
        <div class="col-md-5" align="center">
            <p>
                <strong>
                    Librairie Le Mille-Feuille<br />
                    Rue des Tulipes, 68<br />
                    7020 Nimy(Belgique)
                </strong>
            </p>
            <p>
                Ouvert du lundi au vendredi<br />
                de 9h00 à 18h<br />
                Le samedi<br />
                de 9h00 à 19h
            </p>
            <p>
                Tél : 065 46 56 98<br />
                Fax : 065 157 684
            </p>
            <p>
                Le Mille-Feuille s.a.<br />
                Tva : BE 0455 864 455<br />
                Banque : 260 – 0685 952 – 33
            </p>
            <p>
                Service web : 065 68 42 17
            </p>
        </div>
        <div class="col-sm-offset-2 col-sm-5">
            <div class="row">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.074651900318!2d3.9637415177215503!3d50.47695394347712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c24fd0a7e77dcb%3A0x7fdf2a6789483c45!2sAvenue+des+Tulipes+68%2C+7020+Mons!5e0!3m2!1sfr!2sbe!4v1431553355259" width="600" height="450" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="row">
                <iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sfr!2sbe!4v1431553515463!6m8!1m7!1s_IS6GlSUMSoGs1gn1ytpAg!2m2!1d50.47728!2d3.964235!3f281.67862408306377!4f-5.822585047319222!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
{% endblock %}