{% extends "TFELibrairieBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block galerie_body %}
    <div class="well">
        <h3>Inscription validée</h3>
        <p>
            Votre inscription a été prise en compte. Vous recevrez un mail de confirmation d'ici quelques instants.
        </p>
        <p>
            Nous vous souhaitons Bonne Lecture,<br />
            La team du Mille-Feuille.
        </p>
    </div>
{% endblock %}