{% extends "TFELibrairieBundle::layout.html.twig" %}

{% block title %}
    Invalide - {{ parent() }}
{% endblock %}

{% block galerie_body %}
    <div class="well">
        <h3>Inscription non valide</h3>
        <p>
            Votre demande de confirmation n'a pas été prise en compte ou a déjà été faite.
        </p>
        <p>
            Nous vous souhaitons Bonne Lecture,<br />
            La team du Mille-Feuille.
        </p>
    </div>
{% endblock %}